* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #ffffff;
  --text-color: #ffffff;
  --main-color: #ab92e1;
  --secondary-color: #8562d0;
}
body {
  background-color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
}
.dark-theme {
  --bg-color: #000;
  --text-color: #000;
}
.container {
  margin: auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}
img {
  max-width: 100%;
}
header {
  padding: 20px 0;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container a {
  font-size: 27px;
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-color);
}
header .container img {
  width: 40px;
  padding: 6px;
  cursor: pointer;
  border-radius: 50px;
  background-color: var(--secondary-color);
}
.task-adder {
  padding: 50px 0;
}
.task-adder .container div {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-adder .container div .task-input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 16px;
  border-radius: 3px;
  color: var(--text-color);
  background-color: var(--main-color);
  border-left: 6px solid var(--secondary-color);
}
.task-adder .container div .task-btn {
  border: none;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  color: var(--text-color);
  background-color: var(--secondary-color);
}
.task-list .container .list li {
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  list-style: none;
  line-height: 1.5;
  border-radius: 3px;
  color: var(--text-color);
  background-color: var(--main-color);
  border-left: 6px solid var(--secondary-color);
}
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task .info {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.task .info .task-details{
  font-size: 20px;
  font-weight: bold;
}
.task .info .time{
  font-size: 15px;
}
.delete {
  border: none;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  background: red;
  padding: 5px 10px;
  border-radius: 3px;
  color: var(--text-color);
}
